# Зависимости для Selenium WebDriver
selenium==4.40.0

# Для тестирования
pytest==9.0.2

# Для работы с JSON и HTTP запросами
requests==2.32.5

# Для генерации тестовых данных
Faker==40.4.0

# Параллельный запуск тестов
pytest-xdist==3.6.1

# Allure-отчёты
allure-pytest==2.13.5

# Статический анализ кода
flake8==7.3.0
